:root{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.titulo{
    display: ruby;
    color: rgb(18, 20, 20);
    border-color: black;
    margin-left: 20rem;
    font-size: 30px;
}
.perfil{
    display: inline;
    margin-left: 15rem;
    object-position: 50% 50%;}
    



.image-profile{
    border-radius: 100rem;
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%
   
}
.presentacion{
    text-align: center;
    font-style: italic;
    color: rgb(28, 41, 14);
}

.contacto{
    text-align: center;
    font-style: italic;
}
.name{
    border-radius: 100rem;
    width: 320px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;}

.formacion{
    text-align: center;
}

.skills{
    text-decoration: solid;
    text-align: center;

}